.chat {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__header {
    &--info {
      flex: 1;
      display: flex;

      & .info {
        display: inline-block;

        &-text {
          font-weight: 300;
          font-size: 0.8rem;
        }
      }
    }

    &--buttons {
      & [class^="ti"] {
        display: inline-block;
        background-color: $header-color-dark;
        padding: 0.6rem;
        border-radius: 50%;
        margin-right: 0.6rem;
        cursor: pointer;
        transition: 0.4s ease all;

        &:hover {
          color: $background-color-light;
          background-color: lighten($header-color-dark, 25);
          box-shadow: 5px 5px 27px -1px rgba($header-color-dark, 0.75);
        }
      }

      & .search {
        display: inline-flex;
        background-color: $header-color-dark;
        border-radius: 2.2rem;
        margin-right: 0.6rem;

        & [class^="ti"] {
          margin-right: 0;
        }

        & input {
          width: 0;
          min-width: 0;
          height: 2.2rem;
          border-radius: 2.2rem;
          transition: 0.4s ease all;
        }

        &.active {
          border-radius: 2rem;
          & input {
            width: 10rem;
            padding: 0.6rem;
          }
        }
      }
    }
  }

  &__body {
    flex: 1 1 auto;
    margin: 0.8rem;
    display: flex;
    flex-direction: column-reverse;
    height: 0;
    overflow-y: scroll;

    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }

  &__footer {
    display: flex;
    padding: 1rem;

    &--input {
      flex: 1;
    }

    &--send {
      @include button_mixin($header-color-dark);
      display: inline-flex;
      border: none;
      padding: 0.6rem 1.2rem;
      color: white;
      border-radius: 3rem;
      font-size: 0.8rem;
      transition: all 0.2s ease;
      margin-left: 0.8rem;
      vertical-align: top;
      align-items: center;
      font-weight: 200;

      & span {
        margin-left: 0.4rem;
      }

      &:focus {
        outline: 0;
      }
    }
  }

  &__time {
    position: sticky;
    text-align: center;
    background-color: $background-color-light;
    // top: 0; TODO: causes bugs, should be fixed
    z-index: 10;

    &::before {
      content: "";
      display: block;
      width: 100%;
      height: 1px;
      background-color: $header-color;
      position: absolute;
      left: 0;
      top: 50%;
    }

    & .title {
      text-align: center;
      z-index: 10;
      padding: 0.4rem 1.2rem;
      background-color: $background-color-light;
      position: relative;
    }
  }
}

.bubble {
  background-color: darken($background-color-lighter, 25);
  display: inline-block;
  width: max-content;
  max-width: 14rem;
  min-width: 10rem;
  margin: 1rem;
  padding: 1rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 3px 3px 14px -1px rgba(0, 0, 0, 0.75);
  user-select: none;

  &__header {
    height: 1rem;
  }

  &__time--status {
    float: right;
    color: $header-color;
  }

  &.me {
    align-self: flex-end;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 6px;

    & .bubble__header {
      &--name {
        position: absolute;
        right: 0;
      }

      & [class^="ti"] {
        position: initial !important;
      }
    }

    & .bubble__footer {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;

      & span {
        margin-right: 0;
        margin-left: 0.3rem;
      }

      & .bubble__time--status {
        flex-grow: 1;
        margin-left: 0;
      }
    }
  }

  &__header {
    position: relative;
    margin-bottom: 0.6rem;

    &--name {
      color: $header-color;
      font-size: 0.9rem;
    }

    & [class^="ti"] {
      cursor: pointer;
      position: absolute;
      right: 0;
    }
  }

  &__context {
    color: darken(white, 5);
    font-weight: 200;
  }

  &__footer {
    font-weight: 200;
    font-size: 0.7rem;
    color: $text-info;
    margin-top: 0.6rem;

    & span {
      margin-right: 0.3rem;
    }
  }
}
