$background-color: rgb(30, 30, 30);
$background-color-light: rgb(52, 52, 52);
$background-color-lighter: rgb(147, 147, 147);

$main-color: #F6C390;
$main-color-light: #F6D9BF;
$main-color-dark: rgb(141, 107, 74);

$main2: rgb(108, 206, 157);
$main2-light: rgb(183, 238, 210);
$main2-dark: rgb(30, 122, 76);

$header-color: #F6C390;
$header-color-dark: #C6925D;

$dark-salmon: #E9967A;

$white: #fff;

$indigo: #8080da;
$indigo-dark: #6565ac;
$indigo-light: #acacf8;

$danger: #a13740;
$success: #477900;
$info: #b0a200;

$text-info: #e2e2e2;
