.contacts {
  list-style: none;
  height: 73.8vh;
  overflow-y: scroll;
  cursor: pointer;

  &__item {
      display: flex;
      align-items: center;
      padding: 1rem;
      border-radius: 3px;
      transition: ease .4s;

      &.selected {
        background-color: darken($indigo-dark, 40);
        box-shadow: 0 0 5px 3px rgba(0,0,0,0.75);
      }

      &:hover {
          background-color: darken($indigo-dark, 40);
          box-shadow: 0 0 5px 3px rgba(0,0,0,0.75);
      }

      &--status {
          display: inline-block;
          height: .4rem;
          width: .4rem;
          border-radius: 50%;
          margin-right: .8rem;

          &.online {
            background-color: $success;
          }

          &.offline {
            background-color: $background-color-lighter;
          }

          &.away {
            background-color: $info;
          }
      }

      &--info {
          flex: 1;


          .info-name {
            font-weight: 300;
          }

          .info-status {
              font-size: .7rem;
              font-weight: 200;
              letter-spacing: .4px;
              color: $background-color-lighter
          }
      }

      &--lastseen {
          font-weight: 300;
      }
  }
}
