.contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;

  &__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;

    &--status {
      display: flex;
      align-items: center;
      font-size: 0.8rem;
      font-weight: 300;
    }
  }

  & img {
    margin-right: 0.8rem;
  }

  & > [class^="ti-"] {
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.4s ease all;
    background-color: transparent;

    &:hover {
      text-shadow: 0px 0px 4px $header-color-dark;
    }
  }

  &__search {
    &--items {
      height: 30rem;
      width: 30rem;
      background-color: $background-color;
      border-radius: 3px;
      box-shadow: rgba(0, 0, 0, 0.75) 7px 7px 10px 0px;
      overflow-y: scroll;
      cursor: pointer;
    }
  }
}
